CONFIG_RISCV=y
CONFIG_TARGET_MAGICORE_DEV=y
CONFIG_ARCH_RV64I=y
CONFIG_RISCV_MMODE=y
CONFIG_RISCV_ISA_C=n
CONFIG_RISCV_ISA_A=n
CONFIG_RISCV_TIMER=y
CONFIG_XIP=y # Get rid of amo* instructions during early init
CONFIG_SYS_LOAD_ADDR=0x1c000000
CONFIG_DISPLAY_CPUINFO=y
CONFIG_DISPLAY_BOARDINFO=y
CONFIG_EFI_LOADER=n
CONFIG_FIT=y
CONFIG_OF_SEPARATE=y
CONFIG_DEFAULT_DEVICE_TREE="magicore-dev"

CONFIG_VEXRISCV_SERIAL=y
CONFIG_DEBUG_UART=y
CONFIG_DEBUG_UART_VEXRISCV=y
CONFIG_DEBUG_UART_CLOCK=80000000
CONFIG_DEBUG_UART_BASE=0xff010000
CONFIG_BAUDRATE=115200
CONFIG_NR_DRAM_BANKS=1

CONFIG_XILINX_EMACLITE=y
